.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
  /* Added overflow property */
}

.slider {
  position: relative;
  min-width: 500px;
  max-width: 1000px;
  max-height: 800px;

  /* display: flex; Added display property */
  overflow-x: hidden;
  overflow-y: auto;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-button {
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 8px;
  cursor: pointer;
  border-radius: 20px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.button-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-heading {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
