/* ===================== PRICING ====================== */
.pricing-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	max-width: 1200px; /* Add max-width to adjust the width */
	margin: 0 auto; /* Center align the pricing area */
  }
  
  .pricing-area:before {
	content: '';
	opacity: 0.6;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
  }
  
  
  .pricing-area .section-title {
	color: #000;
	margin-bottom: 50px;
	text-align: center;
  }
  
  .pricing-box {
	background: #fff;
	padding: 30px;
	margin-top: 30px;
	border: 2px solid #000;
	border-radius: 15px;
	/* Removed unnecessary code */
  }
  
  .pricing-header .price {
	color: #B78D65;
	font-weight: 500;
	font-size: 24px;
  }
  
  .pricing-header .price span {
	color: #111;
  }
  
  .pricing-content ul {
	margin: 20px 0;
  }
  
  .pricing-content ul li {
	margin: 5px 0;
  }
  
  .pricing-content ul li p {
	font-size: 16px;
	color: #111;
  }
  
  .pricing-content ul li p i {
	color: #B78D65;
	margin-right: 10px;
  }
  
  .pricing-content .hidden-list {
	text-decoration: line-through;
	color: #333
}

.pricing-action a {
		display: inline-block;
		border-bottom: 1px solid #B78D65;
		font-weight: 700;
		font-size: 18px
}
.pricing-box {
	height: 300px; /* You can adjust the height as per your requirement */  
}
  .pricing-box {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 15px;
	margin-bottom: 15px;
  }
  .counter-section {
	display: flex;
	align-items: center;
  }
  
  .counter-buttons {
	display: flex;
	align-items: center;
  }
  
  .counter-buttons > * {
	margin-right: 10px;
  }
  
  /* Add styles for your "Proceed to Checkout" button */
  .bottom-button-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
  }
  
  /* Add hover styles for pricing boxes */
  .pricing-box:hover {
	border-color: #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Add styles for heading */
  .heading {
	/* Add your desired styles here */
  }
  
  /* style.css */
  /* You can add any additional styles here */
  .mui-button{
	margin-left: 200px;
}
@media (max-width: 768px) {
    .mui-button {
        margin-left: auto; /* Reset margin-left */
        margin-right: auto; /* Set margin-right to center horizontally */
        display: block; /* Make sure it takes up full width */
        text-align: center; /* Center the content inside the button */
    }
}
