/* PaymentForm.css

/* Center the form container */
.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

/* Center the form group */
.form-group {
  margin-bottom: 20px;
}

/* Label styles */
.form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}

/* Input styles */
input[type="email"],
input[type="text"]
input[type="number"]
input[type="tel"] {
  width:100%;
  height: 45px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 0 15px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777;
}


.name-container {
  display: flex;
  justify-content: space-between; /* Space between First Name and Last Name fields */
  width: 165%; /* Adjust the width as needed */
  
}

/* Quantity counter styles */
.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
}

.quantity-control button {
  width: 60px;
  height: 30px;
  border: none;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #777;
  cursor: pointer;
}

.quantity-control span {
  font-size: 16px;
  font-weight: 500;
  color: #777;
}

/* Error message styles */
.error-message {
  color: #e53935;
  font-size: 14px;
  margin-top: 10px;
}

/* Submit button styles */
button[type="submit"] {
  display:inline-block;
  width: 50%;
  padding: 12px 20px;
  background-color: #B78D65;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 100px;
  height: 50px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover {
  background-color: #525099;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
  .form-container {
    max-width: 80%;
  }
}

/* Align the form to the center of the page */
.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  
}
.card-element-container{
  margin-bottom: 50px;
  
}
.input-group {
  display: flex; /* Use flexbox to display the inputs in a row */
  gap: 10px; /* Add some spacing between the inputs */
}

/* Alternatively, you can use grid layout */
.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Add some spacing between the inputs */
}

.two-panel-container {
  display: flex;
}

.code-panel {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

 .picture-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.picture-panel img {
  max-width: 50%;
  max-height: 50%;
} */

/* General styles */
 .two-panel-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
} 

/* Styles for larger screens (desktop view) */
@media screen and (min-width: 768px) {
   .two-panel-container {
    flex-direction: row;
    gap: 40px;
  } 
  .code-panel {
    width: 60%;
  }
  .picture-panel {
    width: 40%;
  } 
}
.row{
  align-items: center;
  align-content: stretch;
}

/* Styles for smaller screens (mobile view) */
@media screen and (max-width: 767px) {
   .two-panel-container {
    gap: 20px;
    flex-direction: column-reverse;
  } */
  .code-panel,
  .picture-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .code-panel,
  .picture-panel {
    width: 100%;
  }
  /* Center the content within the picture panel for mobile view */
  .picture-content {
    height: auto;
  }
  
}  

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-left: 20%;
}
