.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    
}
.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.content .image-slider {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .content {
        margin-right: 0;
    }
}
